.post {
    margin-top: 5pt;
    padding: 10pt;
}

.post__header {
    display: flex;
}

.post__header__author {
    font-size: medium;
    text-decoration: none;
    color: #2f4a59;
}

.post__reply-to {
    color: gray;
    margin-left: 6pt;
}

.post__header__id {
    margin-left: auto;
    color: gray;
}

.post__created {
    padding-top: 2pt;
    color: gray;
    margin-right: auto;
}

.post__message {
    margin-left: 25pt;
    margin-right: 20pt;
    margin-top: 10pt;
    font-size: medium;
    color: var(--text-dark-color);
}

.post__footer {
    display: flex;
}

.post__edited {
    margin-right: auto;
}

.post__footer .post__answer-button {
    margin-left: 10pt;
}

.post__footer .post__change-button {
    margin-left: auto;
}
