.forums-list__header {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background: var(--secondary-background);
    padding: 10pt var(--side-padding);
}

.forums__header {
    color: var(--text-light-color);
    font-family: Titillium Web, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
}

.forums__first-col {
    margin-right: auto;
}

.forums__col {
    text-align: right;
    margin-right: 24pt;
}