.forums-list__header {
    display: flex;
    flex-direction: row;
    padding: 10pt;
    border-radius: 2px;
    background: rgba(207, 207, 207, 0.78) linear-gradient(0deg, rgba(217, 217, 217, 0.78) 15%,
    rgba(251, 251, 251, 0.6));
}

.forums__header {
    width: 320pt;
    color: #497289;
    font-weight: bolder;
    font-size: medium;
}

.forums__first-col {
    margin-right: 30pt;
}

.forums__col {
    text-align: center;
    width: 70pt;
}