.registration-page {
    font-family: Titillium Web, serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}