.navbar {
    background: var(--header-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 5pt var(--side-padding);
    height: 40pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9;
    position: relative;
}

.navbar-brand {
    font-family: Titillium Web, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 55px;
    color: var(--text-light-color);
    min-width: 330px;
    text-decoration: none;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 5pt;
    color: var(--text-light-color);
    font-weight: normal;
    font-size: medium;
}

a.nav-link {
    text-decoration: none;
}

a.nav-link:link {
    color: var(--text-light-color);
}

a.nav-link:visited {
    color: var(--text-light-color);
}

a.nav-link:hover {
    background-color: var(--button-color);
    opacity: 90%;
    color: var(--text-light-color);
    transition-delay: 3ms;
}

.button_sign-out {
    color: var(--text-light-color);
    cursor: pointer;
}

a.navbar__username {
    font-family: Titillium Web, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    margin-right: 10pt;
}