.thread {
    padding: 10pt 5pt 5pt 10pt;
}

.thread__header {
    display: flex;
    align-items: flex-end;
}

.thread__author {
    margin-left: 10pt;
    font-size: medium;
    color: #2f4a59;
    text-decoration: none;
}

.thread__author:visited {
    color: #2f4a59;
}

.thread__title {
    font-size: large;
    font-weight: bold;
    color: var(--text-dark-color);
}

.thread__created {
    padding-top: 5pt;
    color: gray;
}

.thread__message {
    padding-top: 5pt;
    font-size: medium;
    margin-right: 20pt;
    margin-left: 20pt;
    color: var(--text-dark-color);
}
