.threads-list__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10pt var(--side-padding);
    border-radius: 2px;
    background: var(--secondary-background);
}

.threads__header {
    color: var(--text-light-color);
    font-family: Titillium Web, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
}

.threads-list__header__rating {
    margin-right: 20pt;
}

.thread-creation {
    margin-left: auto;
    border-radius: 5px;
    font-size: medium;
    text-decoration: none;
}

.threads-list_empty {
    margin-top: 20pt;
    color: #497289;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}